@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background-color: #000000ee;
  --text-color-main: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--text-color-main);
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  align-items: center

}

body {
  background-color: var(--background-color);
  padding: 0 14px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

i {
  font-size: 18px;
}


                  /*posicion del header*/
.header-container-1 {
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


                    /*header de abajo*/
.header-container-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 0 0 250px;
  margin-left: auto;
} 

.header-container-2 > p {
  background-color: #202020;
  padding: 8px 12px;
  border-radius: 7px;
}

               /*Contenedor de Busqueda*/
.search-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

input {
  padding: 8px 6px; 
  border: 1px solid #303030;
  border-radius: 25px 0 0 25px;
  background-color: #00000015;
  width: 500px;
  max-width: 700px;
  font-size: 16px;
}

input::placeholder {
  padding: 0 10px;
}

.search-container button {
  padding: 4px 18px;
  border: 1px solid #303030;
  border-radius: 0 25px 25px 0;
  background-color: #202020;
  
}

.microphone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

.microphone button {
  min-width: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 1px solid #303030;
  background-color: #202020;
}

.microphone i {
  font-size: 22px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px 28px;
}

.create-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.create-button button{
  padding: 8px 18px;
  border: 1px solid #303030;
  border-radius: 30px;
  background-color: #202020;
  font-size: 14px;

}

.create-button i {
  font-size: 18px;
}





